@import 'variables';

.graphs {
    display: flex;
    flex-direction: column;

    @media (min-width: $mobile) {
        flex-direction: row;

        .line {
            width: 60%;
        }

        .pie {
            margin-top: -2em;
            width: 40%;
        }

        .lineFull {
            width: 100%;
        }
    }
}

:global(.hcCenter) {
    display: flex;
    flex-direction: column;
    align-items: center;
}
