@import 'variables';

.root {
    padding: 0 0.5em;

    @media (min-width: $mobile) {
        padding-left: 2em;
        padding-right: 2em;
    }
}

.graphs {
    display: flex;
    flex-direction: column;

    .pie {
        display: none;
    }

    @media (min-width: $md-desktop) {
        flex-direction: row;

        .line {
            width: 60%;
        }

        .pie {
            display: block;
            margin-top: -2em;
            width: 40%;
        }

        .lineFull {
            width: 100%;
        }
    }
}

:global(.hcCenter) {
    display: flex;
    flex-direction: column;
    align-items: center;
}
