@import 'rootMixin';

.root {
    @include rootMixin;
    display: flex;
    flex-direction: column;

    .header {
        text-align: center;
        margin-bottom: 2em;

        h1 {
            margin-bottom: 0;
        }
    }

    .loader {
        margin: 0 auto;
    }
}
